
.gc11
{
    background-color: #6096B4;
   margin-bottom: px; 
}
.list{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color:#6096B4;
  
    
   

}
.rec
{
 
    margin-top: 5px;
    
}
