
.button1
{
    margin-top:20px;
  
}
.gc
{
    background-color: #6096B4;
    
}
.list{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color:#6096B4;
   
}
.omar90
{


margin-bottom: -75px;


}