.Design{
    text-align:center ;
margin-left: 200px;
display: inline-block;
 
    width:70%;
    margin-top: 60px;
    margin-bottom: 3px;
}
p{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color:#6096B4;
;
}
.Omar
{
background-color: #6096B4;
}
.card
{
    margin-bottom: 30px;
 
}