.cardDesign5 {
    border-radius: 8px;
    border: 1px solid #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    transition: all linear 200ms;
    margin-bottom: 10px !important;
    margin-top: 190px;

  
}



.cardDesign:hover {
    cursor: pointer;
    transform: scale(1,1);
    transform: all linear 200ms;
    z-index: 1;
    box-shadow: 1px 1px 10px #6096B4; 
    
}
body
{

background-color: #6096B4;

}
.parent-card .child-card
{

bottom: -45%;

}